@page "/buttonTest"

<h3>ButtonTest</h3>

<div class="form-group">
    <div class="container">
        <div class="btn-toolbar">

            <AddNewButtonComponent Caption="hello"/>
        </div>
    </div>
</div>

@code {

}
