@page "/login"
@using BlazorApp1.Client.Utils
@layout BlazorApp1.Client.Shared.EmptyLayout

<div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <EditForm Model="@userLoginRequest" OnValidSubmit="loginProcess">
                <DataAnnotationsValidator />

                <div class="form-group">
                    <input @bind-value="userLoginRequest.Email" class="form-control" type="text"
                        placeholder="e-mail adress" />
                </div>

                <div class="form-group">
                    <input @bind-value="userLoginRequest.Password" class="form-control" type="password"
                        placeholder="password" />
                </div>

                <div class="form-group">
                    <button class="btn btn-info btn-block">Login</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code
{
    [Inject]
    HttpClient Client { get; set; }

    [Inject]
    ModalManager ModalManager { get; set; }

    [Inject]
    NavigationManager NavManager { get; set; }

    [Inject]
    ILocalStorageService localStorageService { get; set; }

    [Inject]
    AuthenticationStateProvider AuthenticationStateProvider { get; set; }

    private UserLoginRequestDto userLoginRequest = new UserLoginRequestDto();

    private async Task loginProcess()
    {
        var httpReqRes = await Client.PostAsJsonAsync("api/User/Login", userLoginRequest);

        if (httpReqRes.IsSuccessStatusCode)
        {
            try
            {
                var res = await httpReqRes.Content.ReadFromJsonAsync<ServiceResponse<UserLoginResponseDto>>();

                if (res.Success)
                {
                    await localStorageService.SetItemAsync("token", res.Value.ApiToken);
                    await localStorageService.SetItemAsync("email", res.Value.User.EmailAddress);
                    await localStorageService.SetItemAsync("UserId", res.Value.User.Id.ToString());
                    await localStorageService.SetItemAsync("UserFullName", res.Value.User.FullName);

                    (AuthenticationStateProvider as AuthStateProvider).NotifyUserLogin(res.Value.User.EmailAddress);
                    Client.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer",res.Value.ApiToken);

                    NavManager.NavigateTo("/");
                }
                else
                {
                    await ModalManager.ShowMessageAsync("Login Error", res.Message);
                }
            }
            catch (Exception ex)
            {

                await ModalManager.ShowMessageAsync("Login Error", ex.Message);
            }
        }
    }
}